{{> nav-block}}

<div id="all-password" class="container justify-content-center mt-5">
    <div class="row justify-content-center">

        <h1 class="mb-4 text-center">Update Password</h1>

        <div class="row justify-content-center">
            <div class="col-md-7 ">
                {{!-- <form class="update"> --}}
                    <input type="hidden" id="updateId" value={{dataValues.id}}>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control rounded-0" id="input-name" aria-describedby="name"
                            value="{{dataValues.name}}">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Link for Website</label>
                        <input type="text" class="form-control rounded-0" id="input-link" value="{{dataValues.link}}">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">User Name</label>
                        <input type="text" class="form-control rounded-0" id="input-username"
                            value="{{dataValues.username}}">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="text" class="form-control rounded-0" id="input-password"
                            value="{{dataValues.password}}">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Description</label>
                        <textarea class="form-control rounded-0" id="input-description" rows="3" value="{{dataValues.description}}"></textarea>
                    </div>

                    <button class="btn btn-warning px-5 rounded-0" id="update-password"
                    >Save</button>

                {{!-- </form> --}}

            </div>
        </div>

    </div>
</div>