{{> nav-block}}

<div id="all-password" class="container justify-content-center mt-5">
    <div class="row justify-content-center">

        <h1 class="mb-4 text-center">All Passwords</h1>
        {{#each data}}
        <div class="card p-0" style="width: 18rem;">

            <div class="card-header text-light bg-warning">
                <div class="row">
                    <div class="col-8">
                        {{dataValues.name}}
                    </div>

                    <div class="col-4 justify-content-end">
                        <button   class="btn btn-warning px-2 rounded-0" data-id="{{dataValues.id}}" id="update-password">Edit</button>
                    </div>

                    <div class="col-4 justify-content-end">
                        <button   class="btn btn-warning px-2 rounded-0" data-id="{{dataValues.id}}" id="delete-password">Delete</button>
                    </div>
                </div>
            </div>

            <ul class="list-group list-group-flush rounded-0">
                <li class="list-group-item"><a href="#" target="_blank">{{dataValues.link}}</a></li>
                <li class="list-group-item">{{dataValues.username}}</li>
                <li class="list-group-item">{{dataValues.password}}</li>
                <li class="list-group-item">{{dataValues.description}}</li>
            </ul>
        </div>
        {{/each}}

    </div>
</div>